<!DOCTYPE html>
<html>
<head>
	<title>Project</title>
	<link rel="stylesheet" type="text/css" href="game.css">
	<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
</head>
<body>
	<div id="app">
	<div class="container">          
<div class="box">
	<h1 class="header">YOU</h1>
	<div class="bar"></div>
	<div :style="{width:widthY+'px',right:moveY+'px'}" class="health bar">{{you}}</div>
</div>
<div class="box">
	<h1 class="header">MONSTER</h1>
	<div class="bar"></div>
	<div :style="{width:widthM+'px',right:moveM+'px'}" class=" health bar">{{monster}}</div>
</div>
</div>
<div v-if="show" class="main">
	<button @click="show=!show" class="btn">new game</button>
</div>
<div v-else class="main">
	<button class="btn d" @click="update" id="attack">attack</button>
	<button class="btn d" @click="update" id="specialAttack">special attack</button>
	<button class="btn d" @click="update" id="heal">heal</button>
	<button class="btn d" @click="update" id="giveUp">give up</button>
</div>

<div class="main" style="margin-top:50px">
	<template v-if="messages.length==0">
		<h1 class="header">HELP</h1>
		<p class="para"><strong><em>This game works on random data and there is an equal  probability of winning for both you and monster...</em></strong></p>
	</template>
	<template v-else>
		<h1 class="header">LOGS</h1>
		<ul class="list" v-for="message in messages" >
	<li v-if="message.turn==0" class="player"><strong>{{message.text}}</strong></li>
	<li v-else class="cpu"><strong>{{message.text}}</strong></li>
	</ul>
	</template>
</div>
</div>
</body>
<script type="text/javascript" src="game.js"></script>
</html>
